Package: com.zanehelton.unsplashwallpaper
Name: UnsplashWallpaper
Description: Set your wallpaper to a random photo from Unsplash.com to fit your iOS device with an Activator action.
Version: 1.1.0
Priority: optional
Section: Addons (Activator)
Architecture: iphoneos-arm
Depends: mobilesubstrate, libactivator
Maintainer: Zane Helton <zane99@me.com>
Author: Zane Helton <zane99@me.com>
